.container-detail {
  background-color: black;
  padding: 0px 50px 50px 50px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 100%;
  display: flex;
}
.icon {
  margin-right: 5px;
  color: #f5222d;
}
.btn {
  margin-right: 10px;
}
.box-icon {
  margin-right: 20px;
  cursor: pointer;
}
.box-icon:hover {
  color: #f5e722;
  transition: all 0.3s;
}
.description {
  color: white !important;
}
.comment {
  margin: 20px 0;
  display: flex;
}
.badge {
  display: flex;
}
.badge_red {
  padding: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 0 5px;
}
.badge_yellow {
  padding: 5px;
  background-color: rgb(255, 217, 0);
  color: white;
  font-weight: bold;
}
