.tab_layout {
  transition: all 0.5s ease-in-out;
  .tabfilm {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    transform-style: preserve-3d;
    perspective: 1000px;
    &__icon {
      position: absolute;
      left: 0;
      top: 35%;
      z-index: 15;
      font-size: 5rem;
      width: 6.4rem;
      height: 6.4rem;
      line-height: 6.4rem;
      text-align: center;
      border-radius: 0.4rem;
      background-color: grey;
    }
    &:hover .tabfilm__list {
      transform: rotateY(0deg) translateY(-50%);
    }
    &__list {
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 16;
      height: max-content;
      background: $color-black;
      transition: transform 0.24s linear;
      backface-visibility: hidden;
      transform-origin: left;
      border-radius: 0 8px 8px 0;
      overflow: hidden;
      transform: perspective(1000px) rotateY(90deg) translateY(-50%);
      & li {
        border-bottom: solid 1px $color-white;
        &.active {
          background-color: $color-grey-light;
          border-bottom: solid 1px $color-purple;
          & a {
            color: $color-text-dark;
          }
        }
        &:hover {
          background-color: $color-grey-light;
          &:after {
            transform: scaleX(1);
          }
        }
        &:after {
          display: block;
          content: "";
          border-bottom: solid 3px $color-purple;
          transform: scaleX(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: 0% 50%;
        }
      }

      & a {
        display: block;
        width: max-content;
        padding-right: 1.6rem;
        height: 64px;
        line-height: 64px;
        text-indent: 1em;
        font-size: 1.4em;
        text-decoration: none;
        color: white;
        text-shadow: 0 1px 0 $color-grey-light-1;
        transition: all 0.5s ease;
        &:hover {
          transform: translateX(-14px);
          color: $color-text-dark;
        }
      }
    }
  }
}
