$height-menu: 4.8rem;

//GREEN
$color-green: #8cb560;
$color-green-dark: #59882b;
$color-green-light: #f8fbf5;

$color-white: #fff;
$color-black: #212529;

$color-grey-light: #d0d0d0;
$color-grey-light-1: #b7b7b7;
$color-grey-light-2: #636465;

$color-yellow: #febd00;

$color-text: #545454;
$color-text-dark: #000;
// shadow color
$shadow-white: #fff;
$shadow-white-hover: #fffd;
$bg-dark-1: #111;
$bg-dark-2: #0005;
$bg-dark-3: #0007;
$bg-dark-4: #9993;

//FONT

$font-family-cookie: "Cookie", cursive;
$font-family-josefin: "Josefin Sans", sans-serif;
$font-family-poppins: "Poppins", sans-serif;
