/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif; }

html {
  font-size: 62.5%;
  background-image: linear-gradient(to right bottom, rgba(140, 181, 96, 0.1), rgba(248, 251, 245, 0.2)); }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 52.5%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 55.5%; } }

.heading-1 {
  font-size: 6.9rem;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  line-height: 9rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.8rem;
  margin: 3rem 0; }

.heading-3 {
  font-family: "Cookie", cursive;
  color: #febd00;
  font-size: 2.8rem;
  list-style: 4.2rem;
  font-weight: lighter; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: #212529;
  margin: 1.5rem 0; }

.title-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.4rem; }

.title-light {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  color: #636465; }

.text {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #545454;
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .text {
      line-height: unset;
      margin-bottom: 1rem; } }

.active {
  color: #212529; }

.padding-gutters {
  padding: 7.5rem 0rem; }

.padding-gutters-small {
  padding: 2.5rem 0rem; }

.mr-top-3 {
  margin-top: 3rem; }

.display-inline-block {
  display: inline-block; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.flex-end {
  justify-content: flex-end; }

.text-center {
  text-align: center; }

.item-stretch {
  align-items: stretch; }

.align-self-center {
  align-self: center; }

.align-self-start {
  align-self: flex-start; }

.align-self-stretch {
  align-self: stretch; }

.align-self-end {
  align-self: flex-end; }

.height-25rem {
  height: 25rem; }
  @media only screen and (max-width: 56.25em) {
    .height-25rem {
      height: auto; } }

.dflex-center {
  display: flex;
  justify-content: center; }

.dflex-end {
  display: flex;
  justify-content: end; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }
  .m-sm-1 {
    margin: 0.25rem !important; }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; }
  .m-sm-2 {
    margin: 0.5rem !important; }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; }
  .m-sm-3 {
    margin: 1rem !important; }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; }
  .m-sm-4 {
    margin: 1.5rem !important; }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; }
  .m-sm-5 {
    margin: 3rem !important; }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; }
  .p-sm-0 {
    padding: 0 !important; }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }
  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }
  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }
  .p-sm-1 {
    padding: 0.25rem !important; }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }
  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }
  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; }
  .p-sm-2 {
    padding: 0.5rem !important; }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }
  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }
  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; }
  .p-sm-3 {
    padding: 1rem !important; }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }
  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }
  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; }
  .p-sm-4 {
    padding: 1.5rem !important; }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }
  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }
  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; }
  .p-sm-5 {
    padding: 3rem !important; }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }
  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }
  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; }
  .m-sm-auto {
    margin: auto !important; }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }
  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }
  .m-md-1 {
    margin: 0.25rem !important; }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }
  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }
  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; }
  .m-md-2 {
    margin: 0.5rem !important; }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }
  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }
  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; }
  .m-md-3 {
    margin: 1rem !important; }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }
  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }
  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; }
  .m-md-4 {
    margin: 1.5rem !important; }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }
  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }
  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; }
  .m-md-5 {
    margin: 3rem !important; }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }
  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }
  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; }
  .p-md-0 {
    padding: 0 !important; }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }
  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }
  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }
  .p-md-1 {
    padding: 0.25rem !important; }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }
  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }
  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; }
  .p-md-2 {
    padding: 0.5rem !important; }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }
  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }
  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; }
  .p-md-3 {
    padding: 1rem !important; }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }
  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }
  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; }
  .p-md-4 {
    padding: 1.5rem !important; }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }
  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }
  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; }
  .p-md-5 {
    padding: 3rem !important; }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }
  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }
  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; }
  .m-md-auto {
    margin: auto !important; }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }
  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }
  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }
  .m-lg-1 {
    margin: 0.25rem !important; }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; }
  .m-lg-2 {
    margin: 0.5rem !important; }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; }
  .m-lg-3 {
    margin: 1rem !important; }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; }
  .m-lg-4 {
    margin: 1.5rem !important; }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; }
  .m-lg-5 {
    margin: 3rem !important; }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; }
  .p-lg-0 {
    padding: 0 !important; }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }
  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }
  .p-lg-1 {
    padding: 0.25rem !important; }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }
  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }
  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; }
  .p-lg-2 {
    padding: 0.5rem !important; }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }
  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }
  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; }
  .p-lg-3 {
    padding: 1rem !important; }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }
  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }
  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; }
  .p-lg-4 {
    padding: 1.5rem !important; }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }
  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; }
  .p-lg-5 {
    padding: 3rem !important; }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }
  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; }
  .m-lg-auto {
    margin: auto !important; }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }
  .m-xl-1 {
    margin: 0.25rem !important; }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; }
  .m-xl-2 {
    margin: 0.5rem !important; }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; }
  .m-xl-3 {
    margin: 1rem !important; }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; }
  .m-xl-4 {
    margin: 1.5rem !important; }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; }
  .m-xl-5 {
    margin: 3rem !important; }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; }
  .p-xl-0 {
    padding: 0 !important; }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }
  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }
  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }
  .p-xl-1 {
    padding: 0.25rem !important; }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }
  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }
  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; }
  .p-xl-2 {
    padding: 0.5rem !important; }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }
  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }
  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; }
  .p-xl-3 {
    padding: 1rem !important; }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }
  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }
  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; }
  .p-xl-4 {
    padding: 1.5rem !important; }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }
  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }
  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; }
  .p-xl-5 {
    padding: 3rem !important; }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }
  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }
  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; }
  .m-xl-auto {
    margin: auto !important; }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }
  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }

.nav {
  background-color: #636465;
  padding: 1rem 1.6rem;
  color: #fff; }
  .nav .logo {
    font-size: 2rem;
    text-decoration: none;
    color: #fff; }
  .nav_search__input {
    outline: none; }
  .nav_menu li {
    list-style: none;
    margin-left: 1.5rem; }
    .nav_menu li a {
      text-decoration: none;
      color: #d0d0d0; }
      .nav_menu li a:hover {
        color: #fff; }

.tab_layout {
  transition: all 0.5s ease-in-out; }
  .tab_layout .tabfilm {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    transform-style: preserve-3d;
    perspective: 1000px; }
    .tab_layout .tabfilm__icon {
      position: absolute;
      left: 0;
      top: 35%;
      z-index: 15;
      font-size: 5rem;
      width: 6.4rem;
      height: 6.4rem;
      line-height: 6.4rem;
      text-align: center;
      border-radius: 0.4rem;
      background-color: grey; }
    .tab_layout .tabfilm:hover .tabfilm__list {
      transform: rotateY(0deg) translateY(-50%); }
    .tab_layout .tabfilm__list {
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 16;
      height: max-content;
      background: #212529;
      transition: transform 0.24s linear;
      backface-visibility: hidden;
      transform-origin: left;
      border-radius: 0 8px 8px 0;
      overflow: hidden;
      transform: perspective(1000px) rotateY(90deg) translateY(-50%); }
      .tab_layout .tabfilm__list li {
        border-bottom: solid 1px #fff; }
        .tab_layout .tabfilm__list li.active {
          background-color: #d0d0d0;
          border-bottom: solid 1px #7575f3; }
          .tab_layout .tabfilm__list li.active a {
            color: #000; }
        .tab_layout .tabfilm__list li:hover {
          background-color: #d0d0d0; }
          .tab_layout .tabfilm__list li:hover:after {
            transform: scaleX(1); }
        .tab_layout .tabfilm__list li:after {
          display: block;
          content: "";
          border-bottom: solid 3px #7575f3;
          transform: scaleX(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: 0% 50%; }
      .tab_layout .tabfilm__list a {
        display: block;
        width: max-content;
        padding-right: 1.6rem;
        height: 64px;
        line-height: 64px;
        text-indent: 1em;
        font-size: 1.4em;
        text-decoration: none;
        color: white;
        text-shadow: 0 1px 0 #b7b7b7;
        transition: all 0.5s ease; }
        .tab_layout .tabfilm__list a:hover {
          transform: translateX(-14px);
          color: #000; }

footer {
  background-color: black; }
  footer .footer {
    color: white;
    padding: 5rem !important; }
    footer .footer_cool__description {
      text-align: justify;
      margin-top: 1.5rem;
      line-height: 2rem; }
    footer .footer .widget {
      margin-top: 1.5rem; }
      footer .footer .widget li {
        list-style: none; }
      footer .footer .widget .icons {
        display: flex; }
        footer .footer .widget .icons .icon {
          margin-right: 1rem; }
          footer .footer .widget .icons .icon .fab {
            font-size: 3rem; }

.main {
  font-size: 1.6rem;
  background-color: black; }

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.main-layout {
  margin-top: 4.8rem; }
  .main-layout .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center; }
    .main-layout .pagination li {
      list-style: none; }
      .main-layout .pagination li a {
        text-decoration: none;
        color: #212529;
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        transition: background-color 0.4s; }
        .main-layout .pagination li a.active {
          background-color: #636465;
          color: #fff; }
        .main-layout .pagination li a:hover:not(.active) {
          background-color: #b7b7b7; }

.box_3D {
  display: flex;
  height: calc(100vh - 4.8rem);
  perspective: 1000px;
  transform-style: preserve-3d;
  touch-action: none;
  overflow: hidden;
  background: #111;
  z-index: 5; }
  .box_3D_container__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005); }
    .box_3D_container__item img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out; }
      .box_3D_container__item img:hover {
        box-shadow: 0 0 15px #fffd;
        -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007); }
    .box_3D_container__item .name-movie {
      position: absolute;
      bottom: 0;
      line-height: 50px;
      width: 100%;
      font-size: 2rem;
      color: #fff;
      background: linear-gradient(to bottom, transparent, #000); }
  .box_3D_container .author {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff; }
  .box_3D #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side, #9993, transparent); }

.container_3D {
  position: relative;
  display: flex;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-10deg); }

@-webkit-keyframes spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

@keyframes spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

@-webkit-keyframes spinRevert {
  from {
    transform: rotateY(360deg); }
  to {
    transform: rotateY(0deg); } }

@keyframes spinRevert {
  from {
    transform: rotateY(360deg); }
  to {
    transform: rotateY(0deg); } }

.main {
  font-size: 1.6rem;
  background-color: black; }

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.main-layout {
  margin-top: 4.8rem; }
  .main-layout .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center; }
    .main-layout .pagination li {
      list-style: none; }
      .main-layout .pagination li a {
        text-decoration: none;
        color: #212529;
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        transition: background-color 0.4s; }
        .main-layout .pagination li a.active {
          background-color: #636465;
          color: #fff; }
        .main-layout .pagination li a:hover:not(.active) {
          background-color: #b7b7b7; }

.card_film {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .card_film:hover .card_film__title {
    opacity: 1; }
  .card_film__image {
    width: 100%;
    height: 100%;
    max-height: 245px; }
  .card_film__title {
    position: absolute;
    opacity: 0;
    bottom: 0.4rem;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to bottom, transparent, #000); }

.detail {
  background-color: black;
  color: white; }
  .detail_banner {
    width: 100%;
    height: 50rem; }
    .detail_banner img {
      width: 100%; }
  .detail .contents {
    padding: 0 20rem; }
    .detail .contents_content__badge {
      display: flex;
      font-size: 1.6rem; }
      .detail .contents_content__badge .badge_item:first-child {
        padding: 0.5rem;
        background-color: red;
        margin-right: 0.5rem; }
      .detail .contents_content__badge .badge_item:last-child {
        padding: 0.5rem;
        background-color: #e7a83e; }
    .detail .contents_content__title {
      font-size: 10rem;
      font-weight: bold; }
    .detail .contents_content__description {
      text-align: justify; }
      .detail .contents_content__description .description_first {
        font-size: 2rem;
        font-weight: bold; }
      .detail .contents_content__description .description_second {
        font-size: 1.6rem; }
    .detail .contents_content__auth {
      padding: 0 1rem;
      font-size: 1.6rem; }
      .detail .contents_content__auth .row .col-6 {
        display: flex;
        flex-direction: column; }
    .detail .contents_view-content {
      width: 100%;
      padding: 2rem;
      border-radius: 2rem;
      background-color: rgba(0, 0, 0, 0.37); }
    .detail .contents_category {
      background-color: rgba(0, 0, 0, 0.37);
      border-radius: 2rem;
      padding: 15rem 0;
      margin-top: 5rem;
      width: 100%;
      text-align: center; }
      .detail .contents_category .btn {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        border: 0.1rem solid yellow;
        outline: none;
        background-color: black;
        font-weight: bold;
        color: white;
        cursor: pointer; }
        .detail .contents_category .btn:hover {
          border: 0.1rem solid white;
          transition: all 0.3s; }
      .detail .contents_category__hour .text1 {
        margin: 0.5rem 0;
        font-size: 3rem;
        font-weight: bold; }
      .detail .contents_category__hour .text2 {
        font-size: 1.5rem; }
    .detail .contents_view {
      margin: 5rem 0;
      position: relative; }
      .detail .contents_view .row {
        align-items: flex-start;
        align-content: flex-start; }
      .detail .contents_view__img-first {
        width: 100%; }
        .detail .contents_view__img-first img {
          width: 100%; }
      .detail .contents_view__img-second {
        width: 100%;
        padding: 4rem;
        text-align: justify;
        line-height: 3rem; }
      .detail .contents_view__session {
        font-size: 1.8rem; }
      .detail .contents_view__description {
        font-size: 2.2rem;
        font-weight: bold; }
      .detail .contents_view__auth {
        font-size: 1.8rem; }
  .detail .list-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .detail .list-img img {
      margin-top: 4.5rem; }

.user_avatar {
  width: 6.5rem;
  height: 6.5rem;
  display: inline-block;
  vertical-align: middle; }
  .user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 2rem; }

.comment_block {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem; }
  .comment_block .create_new_comment {
    width: 100%;
    padding: 2rem 0; }
    .comment_block .create_new_comment .input_comment {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1rem;
      width: calc(100% - 7.5rem); }
      .comment_block .create_new_comment .input_comment input[type='text'] {
        width: 100%;
        font-weight: 300;
        font-size: 1.3rem;
        padding: 1rem;
        border: none;
        border-bottom: 0.2rem solid #f2f2f2; }
        .comment_block .create_new_comment .input_comment input[type='text']:focus {
          outline: none;
          border-bottom: 0.2rem solid #e6e6e6; }
  .comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    border-top: 0.1rem solid #959595; }
    .comment_block .new_comment .user_comment {
      list-style-type: none; }
    .comment_block .new_comment .comment_body {
      display: inline-block;
      vertical-align: middle;
      background-color: rgba(255, 255, 255, 0.226);
      width: calc(100% - 7.5rem);
      min-height: 6.5rem;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: white;
      border-bottom: 0.2rem solid rgba(172, 172, 172, 0.452); }
      .comment_block .new_comment .comment_body .replied_to {
        margin: 0.5rem 0px;
        color: #7575f3;
        font-weight: bold;
        border-radius: 0.5rem; }
        .comment_block .new_comment .comment_body .replied_to p {
          padding: 0.5rem; }
        .comment_block .new_comment .comment_body .replied_to span {
          color: #6495ed;
          margin-right: 0.2rem; }
    .comment_block .new_comment .comment_toolbar {
      width: 100%; }
      .comment_block .new_comment .comment_toolbar ul {
        list-style-type: none;
        padding-left: 7.5rem;
        font-size: 0; }
        .comment_block .new_comment .comment_toolbar ul li {
          display: inline-block;
          padding: 0.5rem;
          font-size: 1.4rem;
          color: #d9d9d9; }
          .comment_block .new_comment .comment_toolbar ul li:hover {
            cursor: pointer; }
      .comment_block .new_comment .comment_toolbar .comment_details {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        text-align: left; }
      .comment_block .new_comment .comment_toolbar .comment_tools {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        text-align: right; }
        .comment_block .new_comment .comment_toolbar .comment_tools li:hover {
          color: #ccc; }
    .comment_block .new_comment .user:hover {
      color: #6495ed;
      text-decoration: underline; }
    .comment_block .new_comment .love:hover {
      color: #ff6347; }

.form .decor {
  margin: auto;
  position: relative;
  width: 60%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.226); }

.form .form-left-decoration,
.form .form-right-decoration {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #7575f3; }

.form .form-left-decoration {
  bottom: 60px;
  left: -30px; }

.form .form-right-decoration {
  top: 60px;
  right: -30px; }

.form .form-left-decoration:before,
.form .form-left-decoration:after,
.form .form-right-decoration:before,
.form .form-right-decoration:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff; }

.form .form-left-decoration:before {
  top: -20px; }

.form .form-left-decoration:after {
  top: 20px;
  left: 10px; }

.form .form-right-decoration:before {
  top: -20px;
  right: 0; }

.form .form-right-decoration:after {
  top: 20px;
  right: 10px; }

.form .circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff; }

.form .form-inner {
  padding: 40px; }

.form .form-inner input,
.form .form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  outline: none; }

.form .form-inner textarea {
  resize: none; }

.form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #3e4f24;
  background: #7575f3;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer; }

.form button:hover {
  background: #5252a5; }

@media (min-width: 568px) {
  .form form {
    width: 60%; } }

.error-box {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: #ee6969;
  margin: auto;
  width: 30%;
  border-radius: 1rem; }
