.detail {
  background-color: black;
  color: white;
  // padding: 0 4rem;
  &_banner {
    width: 100%;
    height: 50rem;
    img {
      width: 100%;
      // height: 50rem;
    }
  }
  .contents {
    padding: 0 20rem;
    &_content {
      &__badge {
        display: flex;
        font-size: 1.6rem;
        .badge_item:first-child {
          padding: 0.5rem;
          background-color: red;
          margin-right: 0.5rem;
        }
        .badge_item:last-child {
          padding: 0.5rem;
          background-color: #e7a83e;
        }
      }
      &__title {
        font-size: 10rem;
        font-weight: bold;
      }
      &__description {
        // padding-right: 20rem;
        text-align: justify;
        .description_first {
          font-size: 2rem;
          font-weight: bold;
        }
        .description_second {
          font-size: 1.6rem;
        }
      }
      &__auth {
        padding: 0 1rem;
        font-size: 1.6rem;
        .row {
          .col-6 {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    &_view-content {
      width: 100%;
      padding: 2rem;
      border-radius: 2rem;
      background-color: rgba(0, 0, 0, 0.37);
    }
    &_category {
      background-color: rgba(0, 0, 0, 0.37);
      border-radius: 2rem;
      padding: 15rem 0;
      margin-top: 5rem;
      width: 100%;
      text-align: center;
      .btn {
        font-size: 1.6rem;
        padding: 1rem 3rem;
        border: 0.1rem solid yellow;
        outline: none;
        background-color: black;
        font-weight: bold;
        color: white;
        cursor: pointer;
        &:hover {
          border: 0.1rem solid white;
          transition: all 0.3s;
        }
      }
      &__hour {
        .text1 {
          margin: 0.5rem 0;
          font-size: 3rem;
          font-weight: bold;
        }
        .text2 {
          font-size: 1.5rem;
        }
      }
    }
    &_view {
      margin: 5rem 0;
      // height: 70rem;
      position: relative;
      .row {
        align-items: flex-start;
        align-content: flex-start;
      }
      &__img-first {
        width: 100%;
        img {
          width: 100%;
        }
      }
      &__img-second {
        width: 100%;
        padding: 4rem;
        text-align: justify;
        line-height: 3rem;
      }
      &__session {
        font-size: 1.8rem;
      }
      &__description {
        font-size: 2.2rem;
        font-weight: bold;
      }
      &__auth {
        font-size: 1.8rem;
      }
    }
  }
  .list-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      margin-top: 4.5rem;
    }
  }
}

.user_avatar {
  width: 6.5rem;
  height: 6.5rem;

  display: inline-block;
  vertical-align: middle;

  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }
}

.comment_block {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  .create_new_comment {
    width: 100%;
    padding: 2rem 0;

    .input_comment {
      display: inline-block;
      vertical-align: middle;

      margin-left: 1rem;
      width: calc(100% - 7.5rem);

      input[type='text'] {
        width: 100%;

        // font-family: $LATO;
        font-weight: 300;
        font-size: 1.3rem;

        padding: 1rem;

        border: none;
        border-bottom: 0.2rem solid lighten($GREY, 15%);

        &:focus {
          outline: none;
          border-bottom: 0.2rem solid lighten($GREY, 10%);
        }
      }
    }
  }

  .new_comment {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    border-top: 0.1rem solid rgb(149, 149, 149);

    .user_comment {
      list-style-type: none;
    }

    .comment_body {
      display: inline-block;
      vertical-align: middle;
      background-color: rgba(255, 255, 255, 0.226);
      width: calc(100% - 7.5rem);
      min-height: 6.5rem;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
      border-bottom: 0.2rem solid rgba(172, 172, 172, 0.452);

      .replied_to {
        margin: 0.5rem 0px;
        color: rgb(117, 117, 243);
        font-weight: bold;
        border-radius: 0.5rem;
        p {
          padding: 0.5rem;
        }
        span {
          color: $BLUE;
          margin-right: 0.2rem;
        }
      }
    }

    .comment_toolbar {
      width: 100%;

      ul {
        list-style-type: none;
        padding-left: 7.5rem;
        font-size: 0;

        li {
          display: inline-block;
          padding: 0.5rem;
          font-size: 1.4rem;
          color: lighten($GREY, 5%);
          &:hover {
            cursor: pointer;
          }
        }
      }

      .comment_details {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        text-align: left;
      }

      .comment_tools {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        text-align: right;
        li {
          &:hover {
            color: $GREY;
          }
        }
      }

      // replies
    }

    .user {
      &:hover {
        color: $BLUE;
        text-decoration: underline;
      }
    }

    .love {
      &:hover {
        color: $RED;
      }
    }
  }
}
.form {
  .decor {
    margin: auto;
    position: relative;
    width: 60%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.226);
  }
  .form-left-decoration,
  .form-right-decoration {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: rgb(117, 117, 243);
  }
  .form-left-decoration {
    bottom: 60px;
    left: -30px;
  }
  .form-right-decoration {
    top: 60px;
    right: -30px;
  }
  .form-left-decoration:before,
  .form-left-decoration:after,
  .form-right-decoration:before,
  .form-right-decoration:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
  }
  .form-left-decoration:before {
    top: -20px;
  }
  .form-left-decoration:after {
    top: 20px;
    left: 10px;
  }
  .form-right-decoration:before {
    top: -20px;
    right: 0;
  }
  .form-right-decoration:after {
    top: 20px;
    right: 10px;
  }
  .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
  }
  .form-inner {
    padding: 40px;
  }
  .form-inner input,
  .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  .form-inner textarea {
    resize: none;
  }
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: rgb(117, 117, 243);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background: rgb(82, 82, 165);
  }
  @media (min-width: 568px) {
    form {
      width: 60%;
    }
  }
}
