.tab_layout {
  transition: all 0.5s ease-in-out;
  &__name {
    color: white;
    border-right: 1px solid $color-grey-light-1;
    cursor: pointer;
    &:hover {
      background-color: $color-grey-light;
      color: $color-text-dark;
    }
  }
  .active {
    border-left: 1px solid $color-grey-light-1;
    border-top: 1px solid $color-grey-light-1;
    border-right: unset;
    border-bottom: 1px solid $color-grey-light-1;
  }
}
